.item {
  width: 90%;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:not(:first-child) {
  margin-top: 5px;
}

.name {
  text-transform: capitalize;
  font-size: 1rem;
}

.price {
  font-size: 1rem;
}
